{{#> layout }}
<p>Hello {{name}},</p>
<p>
    From JobPortal
</p>
<p>
    This are the details for your payment to our services
</p>
<p>
<table style="border: 1px solid black;">
    <tr>
        <th>Name</th>
        <th>Email Address</th>
        <th>Plan</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>{{name}}</td>
        <td>{{email}}</td>
        <td>{{plan}}</td>
        <td>{{price}}</td>
    </tr>
</table>
</p>
{{/layout}}