{{#> layout }}

<head>
    <style>
        table {
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid black;
            padding: 5px;
        }

        th {
            text-align: left;
        }
    </style>

</head>

<body>
    <h1>
        INVOICE
    </h1>
    <div style="display: flex; justify-content: space-between; padding-right:10vw;">
        <div>
            <p><strong>INFOSOL NZ LIMITED</strong></p>
            <p>PO BOX 27400</p>
            <p>MT ROSKILL</p>
            <p>AUCKLAND - 1440</p>
            <p>NEW ZEALAND</p>
        </div>

        <div>
            <p>GST No: 126-691-726</p>
            <p>Invoice No: {{invoiceNumber}}</p>
            <p>Date: {{date}}</p>
        </div>
    </div>

    <p>To</p>
    <p><strong> {{CompanyName}}</strong> </p>
    <p>{{Address1}}</p>
    <p>{{Address2}}</p>
    <p>{{Address3}}</p>

    <table style="width: 50vw;">
        <caption>Invoice</caption>
        <tr>
            <th style="width: 80%;">DESCRIPTION</th>
            <th>AMOUNT</th>
        </tr>
        <tr>
            <td style="padding: 50px 10px; border-bottom: none;">Advertising fee on WorkingHolidayJobs portal</td>
            <td style="padding: 50px 10px; border-bottom: none;text-align: end;">{{price}}</td>
        </tr>
        <tr>
            <td style="padding: 50px 10px; border-top: none;">GST @ 15%</td>
            <td style="padding: 50px 10px; border-top: none; text-align: end;">{{gstPrice}}</td>
        </tr>
        <tr>
            <td><strong>Total</strong></td>
            <td style="text-align: end;"><strong>{{totalPrice}}</strong></td>
        </tr>
    </table>

    <div style="width: 50vw;text-align: center;margin-top: 30px;">
        <i><strong> Thank you for your business</strong></i>
    </div>

    <div style="margin-top: 30px;">
        For any queries in regards to this invoice, please contact whbiling@infosol.co.nz
    </div>
</body>
{{/layout}}